<h2>New Project</h2>

<form action="<%= projects_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <label>Team
    <select name="project[team_id]">
      
      <% Team.all.each do |team| %>

        
        <option value="<%= team.id %>" <%= "selected" if @team_id.to_i == team.id %>>
         
          
        
        <%= team.name %>
      </option>
      <% end %>
    
    </select>
  </label>
  
  <label>Title
    <input type="text" name="project[title]">
  </label>
  
  <label>Description
    <input type="text" name="project[description]">
  </label>
  
  <input type="submit" value="Go">
</form>