<h2>Project: <%= @project.title %></h2>

<p>Description: <%= @project.description %></p>


<form action="<%= items_batch_update_url %>" method="post">
  <input type="hidden" name="_method" value="put">
<h4>Items:</h4>

<% if @items %>

<ul>
  <% @items.each do |item| %>
  <li>
  <ul>
    <li><%= link_to item.title, item_url(item.id) %></li>
    <li><%= item.description %></li>
    <li><%= item.completed ? "Completed" : "Incomplete" %></li>
    <input type="hidden" name="<%= "items[#{item.id}][completed]" %>" value="false">
    <li><%= check_box_tag "items[#{item.id}][completed]", "true", item.completed ? true : false %></li>
  </ul>
  </li>
  <% end %>
</ul>
<% else %>
  No items yet
<% end %>


<input type="submit" value="Go">

</form>