<h2>Project: <%= @project.title %></h2>

<p>Description: <%= @project.description %></p>

<h4>Items:</h4>

<% if @items %>

<ul>
  <% @items.each do |item| %>
  <li>
  <ul>
    <li><%= link_to item.title, item_url(item.id) %></li>
    <li><%= item.description %></li>
    <li><%= item.completed ? "Completed" : "Incomplete" %></li>
  </ul>
  </li>
  <% end %>
</ul>
<% else %>
  No items yet
<% end %>